@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create", "Roles", new { @class = "btn btn-primary" }) @Html.ActionLink("List Roles", "Index", "Roles", new { @class = "btn btn-default" })
<hr />

<h2>Role Add to User</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<p>
    Username : @Html.TextBox("UserName")
    Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    <button type="submit" class="btn btn-success" value="Save">Save</button>
</p>
}
<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
<p>
    Username : @Html.TextBox("UserName")
    <button type="submit" class="btn btn-info" value="Get Roles for this User">Get Roles for this User</button>
</p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:#80aaff;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<p>
    Username : @Html.TextBox("UserName")
    Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    <button type="submit" class="btn btn-danger" value="Delete this user from Role">Delete this user from Role</button>
</p>

}